@import 'menu.css';
@import 'hamburguer.css';

.header {
    background: var(--primary);
    position: fixed;
    height: 80px;
    left: 0;
    top: 0;
    right: 0;
    z-index: 777;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-content {  
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
  
  .logo img {
    width: 48px;
    height: 48px;
  }
  
  .logo-text {
      color: var(--white);
      font-weight: bold;
      font-size: 30px;
      border-bottom: 2px solid white;
      border-top: 2px solid white;
      padding: 0px 4px;
      line-height: 1.7;
      font-family: 'Limelight', cursive;
  }

  .navigation {
    align-items: center;
    display: flex;
  }

  @media screen and (min-width: 992px) {
    .hide-for-desktop {
      display: none;
    }
  }