.tools-section {
    background-color: var(--white);
    background-image:  radial-gradient(#a9a9a9 1px, transparent 1px), radial-gradient(#a9a9a9 1px, #ffffff 1px);
    background-size: 40px 40px;
    background-position: 0 0,20px 20px;
    text-align: center;
  
    padding: 2rem 0;
  }
  
  .tools-container {
    text-align: center;
        gap: 1rem;
  }

  .tools-container .tech-1,
  .tools-container .tech-2 {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .tool {
    width: 150px;
    height: 150px;
    background: var(--white);
    margin: 2rem;
    padding: 1rem;
    border-radius: 50%;
  }
  .tool-name {
    text-align: center;
    font-size: 1.2rem;
    color: var(--primary);
  }

