/*------Hamburger Button------*/
.header__toggle,
.header__toggle > * {
  cursor: pointer;
}
.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: var(--white);
  transition: all 300ms ease-in-out;
  transform-origin: 3px 1px;
}
.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.navigation.open .header__toggle > span:first-child{
  transform: rotate(45deg);
}
.navigation.open .header__toggle > span:nth-child(2){
  opacity: 0;
}
.navigation.open .header__toggle > span:last-child {
  transform: rotate(-45deg);
}
